* {
  padding: 2%;
  margin: 2%;
  font-family: "Sofia", sans-serif;
}

.hide {
  display: none
}

.container {
  box-shadow: 0px 9px 15px 1px rgba(112,112,112,1);
  border-radius: 20px;
}

#welcome,
#results {
  text-align: center;
  align-items: center;
}

#answers {
  margin-left: 20%;
}

/* ul btn questions */
ul {
  list-style: none;
}

li button {
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1.5px solid rgb(25, 9, 142);
}

ul li::before {
  content: "\2022";
  color: rgb(25, 9, 142);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  }

#answers > li :hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
  left: 0; 
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* btn start & restart */
#start,
#restart {
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1.5px solid rgb(255, 99, 132);
}

#start:hover {
  background-color: rgb(254, 218, 226);
  color: rgb(255, 99, 132);
  }

#restart:hover {
  background-color: rgb(254, 218, 226);
  color: rgb(255, 99, 132);
  }

/* btn home*/
#home {
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1.5px solid rgb(25, 9, 142);
  }

#home:hover {
  background-color: rgb(151, 147, 181);
  color:  rgb(25, 9, 142);
  }
